body {
  margin: 0;
  width: 360px;
  height: 250px;
  overflow: hidden;
  background-color:  #ff0000; /* match container or neutral */
}
.container {
  align-items: center;
  flex-direction: column; 
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 14px;
  overflow: hidden;
  text-align: right;
  font-weight: bold; 
  font-size: 25px;
  padding-top: 20px;
}
.rec{
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 340px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
#ps{
  background-color: #ffffff;
  width: 250px;
  height: 40px;
  margin-top: 30px;
  border-color: #ffffff;
  border: 1px solid #ffffff;
}
.butdiv{
  display: flex;
   background-color: #ffffff;
   width: 320px;
   height: 50px;
  margin-top: auto;
  margin-bottom: 30px;
  flex-direction: row; 
}
#fr{
  background-color: #be7171;
  width: 120px;
  height: 30px;
  margin: 0 10px;
  border-color: #b94f4f;
  border: 1px solid #ffffff;
}
#bg{
  background-color: #a15353;
  width: 120px;
  height: 30px;
  margin: 0 10px;
  border-color: #5c3030;
  border: 1px solid #ffffff;
}
.on{
 background-color: #bca0ff;
  color: rgb(0, 0, 0); 
}
.off{
  background-color: #ff0000;
  color: #ff0000;
}